<form>
  <div class="row">
    <div class="two mobile-one columns">
      <label class="right inline">Servidor</label>
    </div>
    <div class="ten mobile-three columns">
      <input type="text" class="three" value="localhost"/>
    </div>
  </div>
  <div class="row">
    <div class="two mobile-one columns">
      <label class="right inline">Puerto</label>
    </div>
    <div class="ten mobile-three columns">
      <input type="text" class="three" value="5432"/>
    </div>
  </div>
  <div class="row">
    <div class="two mobile-one columns">
      <label class="right inline">Usuario</label>
    </div>
    <div class="ten mobile-three columns">
      <input type="text" class="three" />
    </div>
  </div>
  <div class="row">
    <div class="two mobile-one columns">
      <label class="right inline">Contrase&ntilde;a</label>
    </div>
    <div class="ten mobile-three columns">
      <input type="password" class="three" />
    </div>
  </div>
</form>
