<form name="config_form" id="config_form">
  <div class="row">
    <div class="two mobile-one columns">
      <label class="right inline">Servidor</label>
    </div>
    <div class="ten mobile-three columns">
      <input type="text" class="three" value="{{ options.pg_host }}" name="host"/>
    </div>
  </div>
  <div class="row">
    <div class="two mobile-one columns">
      <label class="right inline">Puerto</label>
    </div>
    <div class="ten mobile-three columns">
      <input type="text" class="three" value="{{ options.pg_port }}" name="port"/>
    </div>
  </div>
  <div class="row">
    <div class="two mobile-one columns">
      <label class="right inline">Usuario</label>
    </div>
    <div class="ten mobile-three columns">
      <input type="text" class="three" name="user" value="{{ options.pg_user }}"/>
    </div>
  </div>
  <div class="row">
    <div class="two mobile-one columns">
      <label class="right inline">Contrase&ntilde;a</label>
    </div>
    <div class="ten mobile-three columns">
      <input type="password" class="three" name="password" value="{{ options.pg_pass }}"/>
    </div>
  </div>
  <div class="row">
    <div class="two mobile-one columns">
      <label class="right inline">Base de datos</label>
    </div>
    <div class="ten mobile-three columns">
      <div id="database_list" class="two columns">
        <select>
          <option></option>
        </select>
      </div>
      <a class="small round button" id="lnk_update_list" href="#">Actualizar</a>    
    </div>
  </div>
  <div class="row">
    <div class="ten mobile-three columns">
      <a id="lnk_save" class="button" href="#">Guardar</a>
    </div>
  </div>
  <input type="hidden" name="action" value="update_config"/>
</form>
<script type="text/javascript">

  jQuery('#lnk_update_list').bind('click', function (event)
  {
    event.preventDefault();
    jQuery.get("/database", 
                {action:"list"}, 
                function(data) 
                {
                  jQuery("#database_list").html(data);
                });
  });

  jQuery('#lnk_save').bind('click', function (event)
  {
    event.preventDefault();
    jQuery.post("/config", 
                jQuery("#config_form").serialize(), 
                function(data) 
                {
                  jQuery("#notifications").html(data);
                  jQuery("#main_content").html(""); 
                });
  });
</script>