<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  {% block title %}
      <title>{{ common.get('title') }}</title>
  {% end %}
  
  <!-- Included CSS Files (Uncompressed) -->
  <!--
  <link rel="stylesheet" href="stylesheets/foundation.css">
  -->
  
  <!-- Included CSS Files (Compressed) -->

  <link rel="stylesheet" type="text/css" media="screen" href="/static/stylesheets/foundation.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/static/stylesheets/app.css" />

  <script type="text/javascript" src="/static/javascripts/modernizr.foundation.js"></script>
</head>
<body>
  
  <!-- Header and Nav -->
  
  <div class="row">
    <div class="twelve columns">
      <ul class="nav-bar right">
        {% if config.get('show_initialize') == True %}
          <li><a id="lnk_initialize" href="#">Inicializar sistema</a></li>
        {% else %}
          <li><a id="lnk_reset" href="#">Reiniciar proyecto</a></li>
          <li><a id="lnk_config" href="#">Configuracion</a></li>
          <li><a id="lnk_list_tables" href="#">Lista de tablas</a></li>
          <li><a id="lnk_config_models" href="#">Configurar modelos</a></li>
          <li><a href="#">Generar Archivos</a></li>
        {% end %}
      </ul>
    </div>
  </div>
  
  <!-- End Header and Nav -->
  
  <div id="notifications" class="row">
  </div>

  <div class="row">
    <div id="main_content" class="twelve columns">
    </div>
  </div>

  
 
  <!-- Footer -->
  
  <footer class="row">
    <div class="twelve columns">
      <hr />
    </div> 
  </footer>
  
  <!-- Included JS Files (Uncompressed) -->
  <!--
  
  <script src="javascripts/jquery.js"></script>
  
  <script src="javascripts/jquery.foundation.mediaQueryToggle.js"></script>
  
  <script src="javascripts/jquery.foundation.forms.js"></script>
  
  <script src="javascripts/jquery.foundation.reveal.js"></script>
  
  <script src="javascripts/jquery.foundation.orbit.js"></script>
  
  <script src="javascripts/jquery.foundation.navigation.js"></script>
  
  <script src="javascripts/jquery.foundation.buttons.js"></script>
  
  <script src="javascripts/jquery.foundation.tabs.js"></script>
  
  <script src="javascripts/jquery.foundation.tooltips.js"></script>
  
  <script src="javascripts/jquery.foundation.accordion.js"></script>
  
  <script src="javascripts/jquery.placeholder.js"></script>
  
  <script src="javascripts/jquery.foundation.alerts.js"></script>
  
  <script src="javascripts/jquery.foundation.topbar.js"></script>
  
  <script src="javascripts/jquery.foundation.joyride.js"></script>
  
  <script src="javascripts/jquery.foundation.clearing.js"></script>
  
  <script src="javascripts/jquery.foundation.magellan.js"></script>
  
  -->
  
  <!-- Included JS Files (Compressed) -->
  <script type="text/javascript" src="/static/javascripts/jquery.js"></script>
  <script type="text/javascript" src="/static/javascripts/foundation.min.js"></script>
  
  <!-- Initialize JS Plugins -->
  <script type="text/javascript" src="/static/javascripts/app.js"></script>
  <script type="text/javascript">
    jQuery('#lnk_config').bind('click', function (event)
    {
        event.preventDefault();
        jQuery.ajax({
            url: "/config",
            type: "GET",
            success: function(result) {
                jQuery('#main_content').html(result);
            }
        });
    });

    jQuery('#lnk_list_tables').bind('click', function (event)
    {
      event.preventDefault();
      jQuery.get("/database", 
                  {action:"list_tables"}, 
                  function(data) 
                  {
                    jQuery('#main_content').html(data);
                  });
    });

    jQuery('#lnk_config_tables').bind('click', function (event)
    {
      event.preventDefault();
      jQuery.get("/database", 
                  {action:"list_tables_config"}, 
                  function(data) 
                  {
                    jQuery('#main_content').html(data);
                  });
    });
    
    jQuery('#lnk_reset').bind('click', function (event)
    {
      event.preventDefault();
      jQuery.post("/config", 
                  {action:"reset"}, 
                  function(data) 
                  {
                    jQuery("#notifications").html(data);
                    jQuery('#main_content').html("");
                  });
    });

    jQuery('#lnk_config_models').bind('click', function (event)
    {
      event.preventDefault();
      jQuery.get("/database", 
                  {action:"config_models"}, 
                  function(data) 
                  {
                    jQuery('#main_content').html(data);
                  });
    });

    jQuery('#lnk_initialize').bind('click', function (event)
    {
      event.preventDefault();
      jQuery.get("/database", 
                  {action:"initialize"}, 
                  function(data) 
                  {
                    window.location.reload()
                  });
    });
  </script>

</body>
</html>
