<form name="tables_form" id="tables_form" class="custom">
  <div class="row">
    <ul class="block-grid two-up">
      {% for table in tables %}
        <li>      
          <label for="{{ table[0] }}">
            <input id="{{ table[0] }}" type="checkbox" name="tables" value="{{ table[0] }}" style="display: none;" {{ table[3] and "checked" or "" }}>
            {% if table[3] %}
              <span class="custom checkbox checked"></span>
            {% else %}
              <span class="custom checkbox"></span>
            {% end %}
            {{ table[1] }}
          </label>
        </li>
      {% end %}
    </ul>
  </div>
  <div class="row">
    <div class="ten mobile-three columns">
      <a id="lnk_save" class="button" href="#">Guardar</a>
    </div>
  </div>
  <input type="hidden" name="action" value="update_table_list"/>
</form>
<script type="text/javascript">
  jQuery('#lnk_save').bind('click', function (event)
  {
    event.preventDefault();
    jQuery.post("/config", 
                jQuery("#tables_form").serialize(), 
                function(data) 
                {
                  jQuery("#notifications").html(data);
                  jQuery("#main_content").html(""); 
                });
  });
</script>